.section-detalhes-container {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: auto;
}

.detalhes-container {
    border: 1px solid gray;
    padding: 1rem;
}

.info-proposta {
    display: flex;
    margin: 10px 0;
    width: 100%;
}

.info-proposta span {
    border-bottom: 1px solid black;
    padding: 2px;
    
}

.info-box {
    margin-right:  20px;
    width: 100%;
}

.procedimento span{
    border: none;
}

.periodo-doenca strong {
    font-size: 0.9rem;
}

.periodo-doenca span {
    border: none;
}

input {
    padding: 3px;
    border: none;
    border-bottom: 1px solid black;
}

.observacoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#observacoes {
    padding: 1rem;
}

.buttons {
    text-align: center;
}

.salvar {
    background-color: lightblue;
    border: none;
    margin-right: 1rem;
    font-weight: 600;
}

.concluir {
    background-color: rgb(51, 158, 51);
    border: none;
    font-weight: 600;
    color: white;
}

.concluir:hover {
    background-color: rgb(21, 102, 21);
}

.success {
    background-color: #198754;
    text-align: center;
    padding: 1rem;
    width: 50%;
    margin-bottom: 15px;
    border-radius: 18px;
    border: 1px solid darkgreen;
    color: white;
    font-weight: bold;
}

.modal-overlay{
    background-color: lightgray;
    opacity: 0.9;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 200ms;
    border: 1px solid black;
}

.modal-content {
    background-color: white;
    border: 1px solid black;
    padding: 1rem;
    transition: 200ms;
    border-radius: 12px;
    text-align: center;
    opacity: 1;
}

.modal-content p {
    margin-bottom: 1rem;
}

.modal-content button {
    margin: 1rem;
}