.div-criar-pedido { 
    margin: 1rem;
}

.table-pedidos {
    font-size: 0.9rem;
    text-align: center;
}

.table-pedidos input {
    text-align: center;
}

.btn-criar-pedido {
    width: 100%;
    display: block;
}

.small-width {
    width: 50px;
}

.medium-width {
    width: 100px;
}