.section-container-login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container-login {
    border-radius: 15px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
    padding: 1rem;
    text-align: center;
}

.pro-sidebar {
    height: 100vh !important;
}

.input-box {
    padding: 1rem;
}

.input-box input {
    margin-left: 10px;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid gray;
}

button {
    padding: 0.8rem;
    border-radius: 10px;
    border: 1px solid gray;
    transition: 200ms;
}

button:hover {
    cursor: pointer;
    background-color: #2363b3;;
    color: white;
}