.agenda {
    padding: 7px;
}

.comment-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-tabela {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabela-agenda {
    border-collapse: collapse;
}

.tabela-agenda th, td {
    padding: 3px;
}


