.div-criar-operadora {
    margin: 1rem;
}

#criar-operadora,
.link-editar-operadora {
    text-decoration: none;
    background-color: gray;
    color: white;
    padding: 5px;
    border-radius: 5px;
    transition: 200ms;
}

#criar-operadora:hover,
.link-editar-operadora:hover {
    background-color: rgb(33, 106, 216);
}

.cadastrar-operadora {
    text-decoration: none;
    background-color: gray;
    color: white;
    padding: 5px;
    border-radius: 5px;
    transition: 200ms;
}