.gerar-horarios {
    display: flex;
    align-items: center;
}

.btn-gerar-horarios {
    padding: 6px;
}

.section-agendamento-container {
    width: 100%;
    overflow: auto;
    height: 100vh;
}

.agendamento-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.gerar-horarios {
    margin-top: 1rem;
}

.agendar {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.agendar select {
    margin: 5px;
}

.agendar button {
    padding: 5px;
}

.nao-agendados {
    margin-top: 1rem;
}

.btn-cancelar {
    background-color: red;
    color: white;
    font-weight: 600;
    border: none
}

.btn-cancelar:hover {
    background-color: darkred;
}

.horarios-disponiveis-card {
    margin: 1rem 0;
    border: 1px solid gray;
    padding: 1rem;
}