.section-criar-pedido-protocolo-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.criar-pedido-protocolo-container {
    width: 70%;
}

.input-marca-otica input {
    margin-left: 1rem;
}

.input-marca-otica {
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.input-box-criar-pedido input {
    padding: 5px;
    border: 1px solid gray;
    border-radius: 3px;
    margin-left: 1rem;
}

.input-box-criar-pedido select {
    padding: 5px;
    border: 1px solid gray;
    border-radius: 3px;
    margin-left: 1rem;
    width: 100%;
}

.input-box-criar-pedido {
    margin: 0.6rem;
}

.container-dados-beneficiario {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.criar-pedido-botao {
    padding: 6px;
    border-radius: 2px;
    background-color: rgb(55, 123, 212);
    color: white;
    border: none;
}