.section-relatorio-rsd {
    width: 100%;
}

.container-relatorio-rsd {
    margin: 30px 15px;
    width: 30%;
    border-radius: 15px;
    background: #f0f0f0;
    box-shadow: 15px 15px 40px #bebebe,
        -15px -15px 40px #ffffff;
    padding: 1rem;
}

.datas-relatorio-rsd div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.datas-relatorio-rsd input {
    padding: 5px;
    border-radius: 2px;
}