.section-rn-container {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #F3F4F6;
}

.rn-container {
    text-align: center;
}

.table-container {
    margin-top: 2rem;
}

.table {
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0px 0px 7px 3px #bdbdbd;
    border-radius: 12px;
}

.table thead {
    color: rgb(109, 109, 109);
}

.table-header {
    background-color: lightgray;
}

.table-header th {
    padding: 1rem;
}

.table td {
    padding: 1rem;
}

.table tr {
    border-bottom: 1px solid #bdbdbd;
}

.link {
    text-decoration: none;
    background-color: lightblue;
    border-radius: 10px;
    padding: 4px 12px;
    color: rgb(14, 104, 134);
    font-weight: 600;
    transition: 200ms;
}

.link:hover {
    background-color: rgb(194, 227, 238);
}

