.info-proposta-container {
    border: 1px solid black;
    margin: 1rem;
    padding: 0.7rem;
}

.sub-bloco-analise-detalhes {
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid gray;
}

.sub-bloco-analise-detalhes input {
    margin-right: 2rem;
}

.sub-bloco-analise-detalhes div {
    margin: 0.8rem;
}

.sub-bloco-analise {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.color-red {
    color: red;
}

.color-green {
    color: green;
}

.card-analise input,
.card-analise select {
    margin: 0 10px;
}

#dados-plano-amil strong {
    margin: 0 10px;
}

#agenda-elegibilidade {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#agenda-elegibilidade .title {
    text-align: center;
}

#agenda-elegibilidade div {
    margin: 0.7rem;
}

.btn-detalhes-elegi button {
    margin: 0 10px;
}

.motivos-devolucao-container {
    display: flex;
    text-align: start;
    justify-content: center;
    align-items: center;
}

.motivos-devolucao-container div {
    margin: 10px;
}

.motivos-devolucao-container div input {
    margin-right: 4px;
}

.fase-1 {
    height: 0px;
    animation-name: slide-down;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}


.slide-up {
    height: auto;
    animation-name: slide-up;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.slide-down {
    height: 0px;
    animation-name: slide-down;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes slide-down {
    from {
        height: 0px;
    }

    to {
        height: 100%;
    }
}

@keyframes slide-up {
    from {
        height: 400px;
    }

    to {
        height: 0;
    }
}