.section-producao-entrevistas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.producao-rn, .producao-entrevistas {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.producao-entrevistas table,  .producao-rn table{
    text-align: center;
    border-collapse: collapse;
    border-radius: 3px;
}

.producao-entrevistas th {
    padding: 2px;
}

.producao-entrevistas td:hover, .producao-rn td:hover {
    background: rgb(228, 227, 227);
    cursor: pointer;
    transition: 200ms;
}

