.section-producao-entrevistas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.producao-entrevistas table {
    text-align: center;
    border-collapse: collapse;
    border-radius: 3px;
}

.producao-entrevistas th {
    padding: 2px;
}

.producao-entrevistas td:hover {
    background: rgb(228, 227, 227);
    cursor: pointer;
    transition: 200ms;
}

.show {
    transition: 500ms;
    opacity: 1;
}

.hide {
    opacity: 0;
}
