.section-andamento-container {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #F3F4F6;
    height: 100vh;
    overflow: auto;
}

.andamento-container {
    text-align: center;
}

.table-container {
    margin-top: 2rem;
}

.table {
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0px 0px 7px 3px #bdbdbd;
    border-radius: 12px;
    
}

.table thead {
    color: black;
}

.table-header {
    background-color: lightgray;
}

.table-header th {
    padding: 0.5rem;
}

.table td {
    padding: 0.5rem;
}

.table tr {
    border-bottom: 1px solid #bdbdbd;
}

.link {
    text-decoration: none;
    background-color: lightblue;
    border-radius: 10px;
    padding: 4px 12px;
    color: rgb(14, 104, 134);
    font-weight: 600;
    transition: 200ms;
}

.link:hover {
    background-color: rgb(194, 227, 238);
}


.vermelho {
    padding: 5px;
    border-radius: 50%;
    width: 5px;
    border: none;
    background-color: red;
}

.vermelho:hover {
    background-color: red;
}

.verde {
    padding: 5px;
    border-radius: 50%;
    width: 5px;
    border: none;
    background-color: green;
}

.verde:hover {
    background-color: green;
}

.filters {
    display: flex;
    align-items: center;
}

.report {
    padding: 8px;
    position: absolute;
    right: 2rem;
}

.concluir {
    padding: 0.5rem;
}