.section-report-agendadas-container {
    width: 100%;
}

.report-agendados {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.report-agendados-card {
    border-radius: 15px;
    background: #f0f0f0;
    box-shadow: 15px 15px 40px #bebebe,
        -15px -15px 40px #ffffff;
    padding: 1rem;
}