.section-entrevistas-realizadas-container {
    height: 100vh;
    overflow: auto;
    width: 100%;
}

.entrevistas-realizadas {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}