.section-formulario-container{
    height: 100vh;
    overflow: auto;
    padding: 1rem;
    background-color: gray;
}

.info-pessoa-entrevista {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.formulario-container .title {
    background-color: white;
    padding: 1rem;
    border-radius: 4px;
}

.roteiro-container-entrevista {
    background-color: white;
    padding: 1rem;
    border-radius: 3px;
}

.input-pergunta {
    width: 100%;
    border: 1px solid gray;
    padding: 8px;
    border-radius: 3px;
}

.div-pergunta {
    margin: 1rem;
    background-color: white;
    padding: 1rem;
    border-radius: 3px;
}

.div-pergunta label {
    margin-bottom: 5px;
}

.label-pergunta {
    margin-bottom: 10px;
}

.sub-pergunta {
    padding: 1rem;
}

.cids-container {
    background-color: white;
    padding: 1rem;
}
