.section-cadastro-beneficiario-container {
    display: flex;
    justify-content: center;
    padding: 0 3%;
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.titulo-informacoes-gerais,
.titulo-pedidos-reembolso {
    margin: 1rem 0;
}

.titulo-informacoes-gerais span,
.titulo-pedidos-reembolso span {
    background-color: lightgray;
    padding: 3px;
    border-radius: 5px;
}

.informacoes-gerais {
    font-weight: bold;
}

#atualizar-informacoes-beneficiario {
    padding: 10px;
}

.pedidos-reembolso table {
    width: 100%;
}

.pedidos-reembolso table td {
    text-align: center;
}

.td-protocolo, .td-pacote {
    cursor: pointer;
}

.none {
    display: none;
}

.btn-assumir-pacote {
    padding: 7px;
    border-radius: 2px;
    background-color: gray;
    color: white;
    font-weight: 500;
    border: none;
}

.btn-criar-pedido,
.btn-editar-pedido,
.btn-criar-protocolo,
.btn-criar-pacote,
.btn-verificar-processamento {
    position: relative;
    top: 3%;
    padding: 7px;
    margin: 1rem;
    text-decoration: none;
    width: 10%;
    background-color: gray;
    color: white;
    border-radius: 3px;
    transition: 200ms;
    font-size: 15px;
}


.btn-criar-pedido:hover,
.btn-editar-pedido:hover,
.btn-criar-protocolo:hover,
.btn-criar-pacote:hover {
    background-color: rgb(53, 69, 206);
}