.roteiro-container { 
    display: flex;
 }

 .roteiro {
    width: 70%;
 }

 .agenda-processamento {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }