.App {
  display: flex;
}

.botao-padrao-cinza {
  background-color: gray;
  color: white;
  padding: 5px;
  border-radius: 5px;
  transition: 200ms;
}

.pro-sidebar {
  height: 100%;
  position: relative;
}

.div-toggle {
  width: 20px;
  margin: 1rem 10px;
}

.toggle {
   /* position: relative;
  top: 15px; */
  height: 24px;
  width: 24px;
  /* 
  text-align: center;  */

  transition: 200ms;
}

.toggle:hover {
  cursor: pointer;
  opacity: 0.9;
}

@media (max-width: 767.98px) {

}

@media (min-width: 768px){

}



